@page
@model BetterDays.Pages.DeedHistory
@{
    ViewData["Title"] = "Deed History";
}

<div class="row row-cols-auto g-2 justify-content-evenly">
    @foreach (var deed in Model.Deeds)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@deed.Name</h3>
                    <div class="row g-1">
                        @for (var index = 0; index < DaysOfWeek.Length; index++)
                        {
                            var isWeekend = index >= 5;
                            <div class="col text-center p-2 fw-bold @(isWeekend ? "text-danger" : "")">
                                @DaysOfWeek[index]
                            </div>
                        }
                    </div>

                    @for (var currentDate = Model.RangeStart; currentDate <= Model.RangeEnd;)
                    {
                        <div class="row g-1">
                            @for (var i = 0; i < 7; i++)
                            {
                                @if (currentDate <= Model.RangeEnd)
                                {
                                    var isHighlighted = deed.HighlightedDays.Contains(currentDate);
                                    var isToday = currentDate == Model.Today;
                                    var isWeekend = currentDate.DayOfWeek is DayOfWeek.Saturday or DayOfWeek.Sunday;

                                    var conditionalClasses = string.Join(" ",
                                        isHighlighted ? "bg-info" : "",
                                        isToday ? "border border-2 border-danger" : "",
                                        isWeekend && !isHighlighted ? "text-secondary" : "");
                                    <div class="col text-center">
                                        <div class="p-2 rounded-circle @conditionalClasses"
                                             style="width: 41px; height: 41px;">
                                            @(currentDate.Day)
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col">
                                        <div class="p-2" style="width: 41px; height: 41px;"></div></div>
                                }

                                currentDate = currentDate.AddDays(1);
                            }
                        </div>
                    }
                </div>
                <div class="card-footer text-end">
                    @if (deed.Frequency is not null)
                    {
                        <text>~Every @deed.Frequency?.ToString("N1") days</text>
                    }
                    else
                    {
                        <text>Nothing yet</text>
                    }
                </div>
            </div>
        </div>
    }
</div>

@functions
{
    private static readonly string[] DaysOfWeek = new[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };
}
