@page
@using System.Text
@model BetterDays.Pages.Index
@{
    ViewData["Title"] = "History";
}

<div class="text-center">
    <h1>Today is @Utils.PerceivedToday.ToString("dddd, d MMM yyyy")</h1>
    @if (Utils.PerceivedToday != DateOnly.FromDateTime(DateTime.Now))
    {
        <p class="text-secondary">(After midnight)</p>
    }

    <p>
        <a class="btn btn-primary" asp-page="CreateNote">How Was Your Day?</a>
    </p>
</div>

<partial model="Model" name="Shared/_PaginationPartial"/>

@foreach (var day in Model.Items)
{
    var isWeekend = day.Date.DayOfWeek is DayOfWeek.Saturday or DayOfWeek.Sunday;

    <div class="card mb-3">
        <div class="card-body">
            <h2 class=@(isWeekend ? "text-danger" : "")>
                @day.Date.ToString("dddd, d MMM yyyy")
            </h2>
            <div>
                <div class="metric-label">@Html.DisplayNameFor(_ => day.Productivity):</div>
                <div class="d-inline">@DisplayStars(day.Productivity, 5)</div>
            </div>
            <div class="mb-3">
                <div class="metric-label">@Html.DisplayNameFor(_ => day.Mood):</div>
                <div class="d-inline">@DisplayStars(day.Mood, 5)</div>
            </div>
            @if (day.Comment is not null)
            {
                <p>@day.Comment</p>
            }
            <ul>
                @foreach (var deed in day.DoneDeeds)
                {
                    <li>@deed</li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end g-3">
                @{
                    var encodedDate = day.Date.ToString("yyyy-MM-dd");
                }

                <div class="col-auto">
                    <a asp-page="EditNote" asp-route-date="@encodedDate">
                        Edit
                    </a>
                </div>
                <div class="col-auto">
                    <a asp-page="DeleteNote" asp-route-date="@encodedDate">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<partial model="Model" name="Shared/_PaginationPartial"/>

@functions
{
    private static string DisplayStars(int number, int outOf) =>
        new StringBuilder(outOf)
            .Insert(0, "\u2605", number)
            .Insert(number, "\u2606", outOf - number)
            .ToString();
}
